<header class="main-header">
    <div class="grid">
        <ul>
            <li>
                {{#link-to 'index' class="button"}}
                    home
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'scientists' class="button"}}
                    scientists
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'programmers' class="button"}}
                    programmers
                {{/link-to}}
            </li>
        </ul>
    </div>
</header>
